.comp-logo {
    width: 9vw;
    height: 12vh;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 70vw;
    height: 25vh;
    border-radius: 2vw;
}

.menu-items-container{
    background-color: #9e180f;
    height: 6.5vh;
    border: solid 0.1vh rgb(134, 13, 13);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-item{
    margin: 2vw;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(219, 192, 38);
}

.menu-item:hover{
    color:azure;
    text-decoration: overline;
}

.menu-item:active {
    text-decoration-thickness: 25px;
}

.modal-container{
    background-color: ivory;
    border: solid 0.24vh darkgray;
    padding: 1vw;
    width: 27vw;
}