:root {
  --nuBlack:#1B1212;
  --nuRed:#C41E3A;
  --nuWhite:ivory;
  --nuA:#CD5C5C;
  --nuAHover:#B22222;
  --nuDisabled:#696969
}

body {
  background-color: var(--nuWhite);
}

a {
  color: var(--nuA);
  text-decoration: none;
}

a:hover{
  color: var(--nuAHover);
}

ul {
    list-style-type: none;
}